<head>        <meta http-equiv="Content-Type" content="text/html; charset=utf8" /> </head>
<div class="row-fluid" style="font-size:15px; padding-top:112px;display:block" id="tabs"><div class="span12">
						<div class="span4 bold">
							<!--<p>起送价：--></p><p>炒菜速度：</p><p>上午时间：</p><p>下午时间：</p><p>地址：</p><p>备注：</p>
						</div>
						<div class="span8" style="margin-left:0px;">
						<!--	<p><b>￥</b><span class="huangzi">8.00</span></p>-->
							<p>30分钟左右</p>
							<p>09:30 - 14:30</p>
							<p>14:30 - 21:00</p>
							<p>天水师范学院周边餐饮</p>
							<p>网站修改意见电话：18393357070</p>
						</div>
					</div>
					<div class="container-fluid">
						<div class="span12 margin" style="margin-left:0px;padding:10px 10px; border:solid 1px #ccc;background-color:#f4f4f4;border-radius:8px;">
							<h4 class="page-header">公告:</h4> 
								<p style="text-indent:2em ">通过微信公众平台来实现订餐，方便了商家之外，更重要的是方便了用户！</p>			
						</div>
					</div>					<div class="row-fluid" style=" padding:5px 0px 0px 0px;position:fixed;bottom:0;left:0;z-index:100" id="fixedP">					<div class="row span12">      						<a style="padding:12px 18px;background-color:#fe8f0c;color:#fff;" class="btn span12 " id="dat-href">去点餐</a>	   					</div>					</div>					</div>
					</br></br></br><!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>微信订餐</title>
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport"/>
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport"/>
<link href="./view/front/styles/bootstrap.css" rel="stylesheet" type="text/css">
<link href="./view/front/styles/font-awesome.css" rel="stylesheet">
<link href="./view/front/styles/css.css" rel="stylesheet">
<script src="./view/front/styles/jquery-1.js" type="text/javascript"></script>
<script src="./view/front/styles/layer.js"></script>
<style>
.row>.span3 {
	width: 24.75%;
  *width: 50%;
}
.row-fluid [class*="span"]{
	min-height:0px;
}
.huangzi{font-size:16px;font-weight:700}
.floots{position:fixed;left:0;top:0px;z-index:13;}
.floot{position:fixed;left:0;top:42px;z-index:12;}
.margin-xia{border-bottom: solid 1px #ccc;}
.touxiang{width:55px;}
</style>
</head>
<div id="hidden"></div>
<input type="hidden" name="display" id="displays" value="" >
<script>
var ii =0;
var dat='';
var sumLv = 0;
var dis = $("#displays").val();
$(document).ready(function() {
	$.get(
		"index.php",
		function(data){
			if(data == 'success'){
				layer.msg('您已被列入黑名单！', 2, -1);
				return false;
			}
		}
	);
	if(dis==1){
		$("#fade").hide(0);
		$("#Evaluates").hide(0);
		$('#EvaluateForm').hide(0);
		$("#myOrderlist").hide(0);
		$("#tabs").show(0);
		$("#myOrders").css('background','#fff').removeClass('huise').addClass('huangzi');
		$("#myOrders").siblings().css('background','#d0cfd6').removeClass('huangzi').addClass('huise');
	}
	$(".ProductAll").html("<span style='font-size:14px;width:100%;text-align:center;display:block;'>加载中...</span>");
	$.get("./goods.php",
	function(data){
		$(".ProductAll").html("");
		dat =data;
		var html='';
		if(data==undefined){
			$(".ProductAll").html("<div style='font-size:18px;width:100%;text-align:center;margin-top:20%'>暂无信息</div>");
		}else{
			for(var i in data){
				//	console.log(data);
					html += "<div class='control-group span12 xia-bk' style='margin-left:0px;'><div class='span12'><span class='pull-left span12' ><p style='text-align:left;line-height:20px' class='span6'><a class='huangzi'>"+data[i].name+"</a></p><p style='margin-left:0px;text-align:right;padding-top:8px' class='span6 pull-right'>单价:&yen;<a class='huangzi'>"+data[i].price+"</a>元</p><p style='text-align:right;width:140px;margin-top:10px;' class=' pull-right'><span>数量:</span><button style='padding:5px 15px' onclick='chgNum("+data[i].id+",\"del\",\"全部\")' class='btn btn-default'>-</button><input style='padding:14px 4px' id=\"f"+data[i].id+"\" class='input-1' type='text' readonly=\"readonly\" value='0'><button style='padding:5px 15px' onclick='chgNum("+data[i].id+",\"add\",\"全部\")' class='btn btn-default'>+</button></p></span></div></div>";
			}
			$(".ProductAll").html(html);
			html='';
		}
	},'json');
	$.get("./evaluates.php",
			function(data){
				//alert(data.data)
				console.log(data);
				//sumLv = data.sum;
				var Comment = data.length;//总共有多少个评论
				var comments ='<div class="row-fluid" id="Evaluates" style="padding-top:30px;display:none"><div class="span12" id="inner" style="border-bottom:1px solid #ccc"><div class="dh1 span4"><span><strong>评论人数：</strong></span><a class="huangzi">'+Comment+'</a> </div><div class="dh1 span3"><span><strong></strong></span><a class="huangzi"></a> </div><div class="dh1 span4"></div></div>';
				for(var i=0;i<Comment;i++ ){
					comments+='<div class="row-fluid" ><div class="span12 " style="border-bottom:1px solid #ccc;padding:5px 0px 5px 0px;"><div class="touxiang pull-left" style="padding-left:10px;padding-right:0px"><span>'+data[i].wid+'</span></div><div class="liuyan" style="margin-left:74px;"><a class="lynr">'+data[i].evaluate+'</a></br><a class="huise">'+data[i].time+'</a></div></div></div>';
				}
				comments+='<br><br><br><div class="btn span12" onclick="jump()" style="background-color:#fe8f0c; margin-left:0px;margin-top:10px;position:fixed;z-index:999;bottom:0;left:0;padding:12px 18px;color:#fff;">我要评论</div></div>';
				$("#Evaluates").remove();
				$(".floot").after(comments);
			},'json');

	$("#all").click(function(){
		var htmls=''
		var datas = dat
		if(datas==undefined){
			$(".ProductAll").html("<div style='font-size:18px;width:100%;text-align:center;margin-top:20%'>暂无信息</div>");
		}else{
			for(var i in datas){
					htmls += "<div class='control-group span12 xia-bk' style='margin-left:0px;'><div class='span12'><span class='pull-left span12' ><p style='text-align:left;line-height:20px' class='span6'><a class='huangzi'>"+datas[i].name+"</a></p><p style='text-align:right;padding-top:8px' class='span6 pull-right'>单价:&yen;<a class='huangzi'>"+datas[i].price+"</a>元</p><p style='text-align:right;width:100%;margin-top:10px;' class=' pull-right'><span>数量:</span><button style='padding:5px 15px' onclick='chgNum("+datas[i].id+",\"del\",\"全部\")' class='btn btn-default'>-</button><input style='padding:14px 4px' id=\"f"+datas[i].id+"\" class='input-1' type='text' readonly=\"readonly\" value='0'><button style='padding:5px 15px' onclick='chgNum("+datas[i].id+",\"add\",\"全部\")' class='btn btn-default'>+</button></p></span></div></div>";
			}
			$(".ProductAll").html(htmls);
			htmls='';
		}
	})
	$('.tops>.xia-bk:eq(0)').css('background','#d0cfd6');
	$(".tops>.xia-bk").click(function(){
		$(this).css({background:"#d0cfd6"})
		$(this).siblings().css({background:"#fff"})
	})
});
</script>
<body style="background-color:#FFF;">
<div class="row-fluid floots">
	<div class="span12 dh"><!-- <a href="javascript:history.back();" class="pull-left"><img src="./view/front/images/1_05.gif"></a> -->
		<a class="logo-1">微信快餐</a>
    </div>
	<input type="hidden" id="amstart_time" value="" />
	<input type="hidden" id="amend_time" value="" />
	<input type="hidden" id="pmstart_time" value="" />
	<input type="hidden" id="pmend_time" value="该店以下班停止营业，订单无法及时送到，请见谅！" />
</div>
<script>
	$(document).ready(function(){
		$("#fade").hide(0);
		$("#Evaluates").hide(0);
		$('#EvaluateForm').hide(0);
		$("#myOrderlist").hide(0);
		$("#tabs").show(0);
		$("#present").css('background','#fff').removeClass('huise').addClass('huangzi');
		$("#present").siblings().css('background','#d0cfd6').removeClass('huangzi').addClass('huise');
		var amstart_time = $("#amstart_time").val();
		if(amstart_time){
			alert(amstart_time);
		}
		var amend_time = $("#amend_time").val();
		if(amend_time){
			alert(amend_time);
		}
		var pmstart_time = $("#pmstart_time").val();
		if(pmstart_time){
			alert(pmstart_time);
		}
		var pmend_time = $("#pmend_time").val();
		if(pmend_time){
			alert(pmend_time);
		}
		//餐厅介绍
		$('#present').click(function(){
			$("#fade").hide(0);
			$("#Evaluates").hide(0);
			$('#EvaluateForm').hide(0);
			$("#myOrderlist").hide(0);
			$("#tabs").show(0);
			$(this).css('background','#fff').removeClass('huise').addClass('huangzi');
			$(this).siblings().css('background','#d0cfd6').removeClass('huangzi').addClass('huise');
		})
		
		//菜单
		$('#menu').click(function(){
			$("#fade").show(0);
			$("#tabs").hide(0);
			$("#Evaluates").hide(0);
			$('#EvaluateForm').hide(0);
			$("#myOrderlist").hide(0);
			$(this).css('background','#fff').removeClass('huise').addClass('huangzi');
			$(this).siblings().css('background','#d0cfd6').removeClass('huangzi').addClass('huise');
		})
		
		//评价（
		$('#Evaluate').click(function(){
			$("#fade").hide(0);
			$("#tabs").hide(0);
			$('#EvaluateForm').hide(0);
			$("#myOrderlist").hide(0);
			$(this).css('background','#fff').removeClass('huise').addClass('huangzi');
			$(this).siblings().css('background','#d0cfd6').removeClass('huangzi').addClass('huise');
			$("#Evaluates").show(0);
		})
		//我的订单
		$('#myOrders').click(function(){
			$("#fade").hide(0);
			$("#tabs").hide(0);
			$('#EvaluateForm').hide(0);
			$("#Evaluates").hide(0);
			$(this).css('background','#fff').removeClass('huise').addClass('huangzi');
			$(this).siblings().css('background','#d0cfd6').removeClass('huangzi').addClass('huise');
			$("#myOrderlist").show(0);
		})
		 $("#dat-href").click(function(){
			//var v = $(this).attr('dat-href');
			$("#menu").trigger('click');
		 });
	});
	function jump(){
		$('#Evaluates').hide();
		$('#EvaluateForm').show();
	}	
</script>
<!--头部-->
<div class="row-fluid floot" >
	<div class="span12">
    	<div class="row">
			<a id="present" class=" span3  conn cd-bj  huangzi" style="margin-left:1%;">餐厅介绍</a>
    		<a class="span3 ct-js1 conn huise" style="margin-left:0" id="menu">菜单</a>
			<a id="Evaluate" class=" span3 conn cd-bj huise" style="margin-left:0px;">评价<small id="ss"></small></a>
			<a id="myOrders"  class=" span3 conn cd-bj huise" style="margin-left:0px;float:left;">我的订单</a>
    	</div>
    </div>
</div>
<!--zhong-->

<!-- <div  id="fade" style="display:bl+ock"> -->
<div  id="fade" style="display:none">
<div class="row-fluid">
	<div class="span12">
    	<div class="span3 tops" style="position:fixed;z-index:10;left:0;top:92px;height:100%;border-right:1px solid #ccc">
				<div class="xia-bk"  id="all">
					<span class="biankuang huangzi">全部</span>
                </div>
								<?php foreach ($cate_goods as $k=>$v ){ ?>
								<div class="xia-bk"  onclick="showlist(this)" id="<?php echo $v['id']; ?>" name="<?php echo $v['name'];?>">
                    <a  class="biankuang huangzi"><?php echo $v['name'];?></a>
                </div>
				<?php } ?>
				        </div>
        
        
		<div class="span9  nr left-bk ProductAll" style="margin-left:23.4043%;;margin-top:32px" >
				<!-- 内容 -->
       	</div>
	</div>
</div>



<br><br><br>
<div class="row-fluid" style=" padding:5px 0px 0px 0px;position:fixed;bottom:0;left:0;z-index:100" id="fixedP">

    <div class="row span12" >
      
           <a   style="padding:12px 18px;background-color:#fe8f0c;color:#fff;" class="btn span12 " href='./tijiao.php?wid=<?php echo $wid;?>' class="ben-a" >选好了</a>

	   
    </div>
	
</div>
</div>
<script>
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	WeixinJSBridge.call('hideToolbar');
	});
/**购物选择个数 */
	function chgNum(ndid,opr,g_name){
		var index= parseInt($('#f'+ndid).val());
			if(opr=='del'){

				if(index == 0){
					alert("不能减了！");
					return ;
				}
				$("#f"+ndid).val(index - 1);
				index = index - 1;
			}else if(opr=='add'){
				if(index == 99){
					alert('不能加了！');
					return ;
				}
				$("#f"+ndid).val(index + 1);
				index = index + 1;
			}
			$.get("./goods.php",
			{act:"numChange",id:ndid,opr:opr,g_name:g_name},
			function(data){
				if(data){
					if(data[ndid].num == 0){
						alert("不能减了");
						return;
					}else if(data[ndid].num == 99){
						alert("不能增加了");
						return;
					}
					$("#f"+ndid).val(index);
				}
			})
	}
	//点击加载页面
	var app ='';
	function showlist(obj){
		var g_name = '';//清空以前点击目录
		g_name = $(obj).attr('name');//所点击的目录名称 保存成全局
		var id = $(obj).attr('id');
		$.get("./goodsInfo.php",
		{id:id},
		function (info){
			if(info){
				for( var  i in info){
											//console.log(info);
											app += "<div class='control-group span12 xia-bk' style='margin-left:0px;'><div class='span12'><span class='pull-left span12' ><p style='text-align:left;line-height:20px' class='span6'><a class='huangzi'>"+info[i].name+"</a></p><p style='text-align:right;padding-top:8px' class='span6 pull-right'>单价:&yen;<a class='huangzi'>"+info[i].price+"</a>元</p><p style='text-align:right;width:100%;margin-top:10px;' class=' pull-right'><span>数量:</span><button style='padding:5px 15px' onclick='chgNum("+info[i].id+",\"del\",\""+g_name+"\")' class='btn btn-default'>-</button><input style='padding:14px 4px' id=\"f"+info[i].id+"\" class='input-1' type='text' readonly=\"readonly\" value='0'><button style='padding:5px 15px' onclick='chgNum("+info[i].id+",\"add\",\""+g_name+"\")' class='btn btn-default'>+</button></p></span></div></div>";
				}
											$(".ProductAll").html(app);	
											app = '';
			}else{
							$(".ProductAll").html("<div style='font-size:18px;width:100%;text-align:center;margin-top:20%'>暂无信息</div>");
				}
		},'json');

		$(".tops>.xia-bk").click(function(){
			
				$(this).css({background:"#d0cfd6"})
			
			$(this).siblings().css({background:"#fff"})
			
		})
	}
</script>
<div class="row-fluid" id="EvaluateForm" style="display:none;padding-top:102px">
		<form>
		<input type="hidden" name="wid" value='<?php echo $wid;?>'/>
		<input type="hidden" name="time" value='<?php echo time();?>'/>
		<div class="span12 fn16" style="padding-left:15px;margin-top:10px;">
			店铺评价：
			<span class="rank">
				<i class="icon-star fn35 icon-active"></i> 
				<i class="icon-star fn35 icon-active"></i> 
				<i class="icon-star fn35 icon-active"></i> 
				<i class="icon-star fn35 icon-active"></i> 
				<i class="icon-star fn35 icon-active"></i> 
			<span>
			<input type="hidden" name="rank" id="rank"  value="5"/>
		</div>
		
 		<div style="padding:5px 0px 5px 15px;"><strong style="font-size:16px">买家评论</strong></div>
		
		<!-- 留言 -->
		<div style="margin-left:0px; text-align:center;">
			<textarea style="width:90%;height:100px" maxlength="70" name="evaluate" placeholder="最多输入70字" id="evaluate" required onclick="clearVal(this)"></textarea>
		</div>
		</form>
		<div class="container-fluid"  style="padding-left:15px;padding-right:15px">
			<a class="btn span12 pinglun" style="margin-top:20px;background-color:#fe8f0c;color:#fff;">提交评论</a>
		</div>
</div>
<script>
function clearVal(obj){
	if($(obj).val()!=''){
		$(obj).val('');
	}
}
$('.rank').delegate('i','click',function(){if($(this).hasClass('icon-active')){$(this).nextAll().removeClass('icon-active')}$(this).prevAll().addClass('icon-active').attr('name','star');$(this).addClass('icon-active').attr('name','star');var num=$('.rank>i[name="star"]').length;$('input[name="rank"]').val(num)});
	$(document).ready(function(){
			$(".row-fluid").delegate('.pinglun','click',function(){
					var evaluate = $("#evaluate");
					var rank = $('input[name="rank"]');
					if(evaluate.val() == ''){
						layer.msg('亲、评价内容必须填写！', 2, -1);
						evaluate.focus();
						return false;
					}
					if(rank.val() == ''){
						layer.msg('亲、请选择等级！', 2, -1);
						rank.focus();
						return false;
					}
					$.ajax({
					    url:"./evaluateForm.php",
					    data:$("form").serialize(),
					    dateType:"text",
					    success:function(data){	
							console.log(data);
						    if(data!== 'error'){
								var dat = eval('('+data+')');
							    layer.msg('恭喜您，评论成功！', 2, -1);
								$('#Evaluates').show();
								$('#EvaluateForm').hide();
								//var  people = parseInt($('#people').html())+1;
								var  people = parseInt($('#ss').html())+1;
								$('#ss').html(people);
								 $('#people').html(people);
								appendForm = '<div class="row-fluid" ><div class="span12" style="border-bottom:solid 1px #ccc;padding:5px 0px 5px 0;"><div class="touxiang pull-left" style="padding-left:10px;padding-right:0px"><span>'+dat.wid+'</span></div><div class="liuyan" style="margin-left:74px;"><a class="lynr">'+dat.evaluate+'</a></br><a class="huise">'+dat.time+'</a></div></div></div>';
								$('#inner').after(appendForm);
								
						    }else{
							   layer.msg('抱歉，评论失败，请重试！', 2, -1);
						    }
					    }
					},'json')
			})
		})
	
	//href="index.php?act=module&name=SingleMeal&do=OrderList&from_user=oeY-2t7NoSyJNovnCKbPzFPUEAz0&weid=92"
</script>

<!-- 订单 -->
<link href="./view/front/styles/main.css" rel="stylesheet">

<div class="wrapper" id="myOrderlist" style="display:none;padding-top:30px;">
	<div class="container-fluid black" style="height:70px">
		<div class="navbar ">
					<a class="brand1 " href="">
						<img class="img-circle" width="80px" src="./view/front/images/1036521522.jpg">
						<span><?php echo $wid;?></span>
					</a>
					<div class="btn-toolbar pull-right notification-nav mt15 ">

						<div class="btn-group">
							<h3 style="color:#999999">订单中心</h3>
						</div>
						
					</div>
			

		</div>
	</div>
	<div class="row-fluid">
		<div class=" chatPart span12">
			<ul class="chat pull-right">
				<li class="list">
					<b ><?php echo count($orderList);?></b></br>
					<span>订单个数</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="container-fluid orderList" style="padding:0">
	<?php foreach($orderList as $k=>$v){ ?>
								<div class="colum" id="20140814144048708390">
						<h4 class="title fn15">订单号：<?php echo $v['order_sn']; ?></h4>
						<p> 姓名：<?php echo $v['customer'];?>&nbsp;&nbsp;电话：<?php echo $v['tel'];?>&nbsp;&nbsp;</p>
						<strong class="acTime ac-clear"><?php echo $v['order_time'];?></strong>
						<a class=" moreList pull-right "><i class=" icon-angle-right "></i></a>
				</div>
	<?php }?>
						<!--		<div class="colum" id="20140814112647788098">
						<h4 class="title fn15">订单号：20140814112647788098</h4>
						<p> 姓名：11&nbsp;&nbsp;电话：111&nbsp;&nbsp;<Br />地址：11</p>
						<strong class="acTime ac-clear">2014-08-14 11:26</strong>
						<a class=" moreList pull-right "><i class=" icon-angle-right "></i></a>
				</div>-->
					</div>
	
</div>
<div class="maskbox hide"  ></div>
<br>
<br>
<br>
<script>
	$(document).ready(function(){
		
	})
	
	$(document).ready(function(){
			$(".orderList").delegate('.colum','click',function(){
				
				var orderid = $(this).attr("id");
				$("body,html").animate({scrollTop:$("#"+orderid).offset().top-150}); 

				var _this = $(this);
				var status =_this.find('.show').length;
				_this.siblings().find('.show').hide();
				$(this).find('.moreList>i').removeClass('icon-angle-right').addClass(' icon-angle-down');
				$(this).siblings().find('.moreList>i').removeClass('icon-angle-down').addClass(' icon-angle-right');
				if(status){
					if(_this.find('.show').css('display')=='block'){
						_this.find('.show').slideUp(100);
						$(this).find('.moreList>i').removeClass('icon-angle-down').addClass(' icon-angle-right');
					}else{
						_this.find('.show').slideDown(500)
					}
					return false;
				
				}else{
					var html="";
					html="<div style='text-align:center' class='show'>正在加载.......</div>";
					_this.append(html);
					
				}
				$.get("index.php?act=module&name=SingleMeal&do=OrderDetailList&weid=92",{orderid:orderid},function(data){
					_this.find('.show').remove();
					var html="";
					html="<div style='display:none;padding:10px 0 15px 0' class='show' >"+data+"</div>";
					_this.append(html);
				
					_this.find('.show').slideDown(500);
					
				})
			});		
	})
</script>
</body>
</html>
