<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="../style/styles.css" />
<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../scripts/na_check.js"></script>
</head>

<body>
<div id="main_right">
	<div id="r_title">
		<div id="r_title_content">
			用户管理 &gt; 用户列表
		</div>
	</div>
	<div class="line_white"></div>
	<div id="r_menu">
		<ul>
			<li><a href="<!-- {$page_name} -->?a=list">返回列表</a></li>
		</ul>
	</div>
	<div id="r_list">
		<form action="" method="post" onsubmit="return na_check_form();">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td width="10%" height="35" align="center">标签</td>
			<td width="90%"><input type="text" size="80" name="art_title" id="art_title"class="inputs"/></td>
		  </tr>
		  <tr>
			<td width="10%" height="35" align="center">&nbsp;</td>
			<td width="90%"><input type="image" src="../images/r_add_bg.jpg"/></td>
		  </tr>
		 </table>
		 </form>
	</div>
</div>
</body>
</html>