<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="../view/admin/styles/styles.css" />
</head>

<body>
<div id="main_right">
	<div id="r_title">
		<div id="r_title_content">
			订餐系统 &gt; 订餐记录
		</div>
	</div>
	<div class="line_white"></div>
	<div id="r_menu">
		<ul>
			<li><a href="<!-- {$page_name} -->?a=add">信息记录</a></li>
		</ul>
	</div>
	<div id="r_list">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		  	<td height="30">用户id</td>
			<td>菜单</td>
			<td>下单时间</td>
		  </tr>
		  <?php if(isset($rec)){ foreach($rec as $k=>$v){ ?>
		  <tr>
			<td><?php echo $v['wid']; ?></td>
			<td><?php echo $v['menu'];?></td>
			<td><?php echo $v['order_time'];?></td>
		  </tr>
		  <?php }}else{ ?>
		  <tr>
			<td colspan="3">暂无消息</td>
		  </tr>
		  <?php }?>
		</table>
	</div>
</div>
</body>
</html>
