/* CSS Document */
/* 公共样式 */
*{margin:0px; padding:0px;}
body{font-size:12px; color:#333333; font-family:Arial, Helvetica, sans-serif; background-color:#F1F1F1;}
a{text-decoration:none; color:#333333;}
ul{list-style-type:none;}
div{overflow:hidden; margin:0 auto;}
img{border:0px;}

/* 头部样式 */
.F.L{float:left !important;}
.F.R{float:right !important;}
.pointer{cursor:pointer  !important;}
.line_white{width:auto; height:1px; background-color:#FFFFFF;}
.inputs{width:auto; height:14px; border:1px solid #BEBEBE; padding:5px; float:left; background-image:url(../images/r_add_inputs_bg.jpg);}


#login_main{width:500px; height:auto;}
	#login_left{width:276px; height:177px; background-image:url(../images/login_line.jpg); float:left; background-repeat:no-repeat; background-position:right center;}
	#login_left img{margin-top:15px;}
	#login_right{width:200px; height:auto; float:right; margin-top:15px;}